mlflow==1.18.0
pandas==1.2.4
plotly==5.0.0
streamlit==0.86.0
streamlit_pandas_profiling==0.1.2
category_encoders==2.2.2
pandas_profiling==3.0.0
statsmodels==0.12.2
altair==4.1.0
numpy==1.19.5
joblib==1.0.1
interpret-community==0.19.2
Pillow==9.0.1
scikit_learn==0.24.2
